{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>

<body>
    <header class="header">
        <div class="hat">
            <a href="{% url 'home' %}" class="logo">
                <img src="{% static 'images/dd_logo.png' %}" alt="logo">
                <span class="upper">DAREDEVIL<span class="lower">.django</span></span>
            </a>

            <nav>
                <a href="{% url 'home' %}">Главная</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'profile'%}">{{ user.username }}</a>
                    <a href="{% url 'logout'%}">Выйти</a>
                {% else %}
                    <a href="{% url 'registration'%}">Регистрация</a>
                    <a href="{% url 'login'%}">Вход</a>
                {% endif %}
            </nav>
        </div>
    </header>

    <main class="main_body">
        {% block content %} {% endblock %}
    </main>

    <footer>
        <div class="footer">
            <p>&copy; vladekx-s; 2026</p>
        </div>
    </footer>
</body>

</html>